<form #formPropComp="ngForm" (ngSubmit)="onSubmit(formPropComp)">
  <div class="form-group">
    <div class="form-row">
      <mat-form-field class="field-propComp">
        <mat-select name="techno" #techno="" placeholder="Choisissez votre technologie"
          (selectionChange)="changedata($event)">
          <mat-option *ngFor="let techn of data " [value]="techn._Id">{{techn._Title}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field class="field-propComp">
        <mat-select placeholder="Choisissez votre skill" name="skill" [disabled]="disabled">
          <mat-option *ngFor="let skill2 of _Skills2 | async" [value]="skill2._Id">{{skill2._Title}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field class="field-propComp">
        <input matInput type="text" placeholder="compétence proposé">
        <button mat-button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="form-row">
      <button mdbBtn type="button" class="btn btn-outline-info  btn-rounded waves-effect btn-propComp"
        (click)="onClose()">Annuler</button>
      <button mdbBtn type="submit"
        class="btn btn-outline-danger btn-rounded float-right waves-effect btn-propComp">Ajouter</button>
    </div>
  </div>
</form>