.mat-tab-nav-bar {
    width: 100%;
    background-color: white;
    border: 0;
}

.mat-tab-link {
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
    width: 100%;
    height: 60px;
    font-family: ubuntu;
    font-weight: bold;
    font-size: 1rem;
    color: #5A5A5A;
    
    border-left: 1px solid rgba(19, 16, 16, 0.12);
    border-bottom: 1px solid rgba(19, 16, 16, 0.12);
}

.mat-tab-label-active{
    color: #0070AD;
    opacity: initial;
    border-bottom: transparent;
}
.viewContent {
    background-color: white;
}

.h-80{
    height: 80%;
    width: 100%;
    max-width: 1201px;
}

@media (max-width: 1400px) {
    .mat-tab-link {
        font-size: 12px;
    }
}


