<div class="row">
  <div class="col-sm-3 form-search-comp">
      Rechercher une compétence
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      Choisissez votre techno
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      Choisissez votre skill
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  </div>
  <div class="col-sm-8">
      <button mdbBtn type="button" class="rounded float-right margin-left btn-propComp" color="primary" rounded="true" outline="true" mdbWavesEffect>Proposer une compétence</button>
  </div>
</div>
<div class="row">

</div>