@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 85px;
  }
}
.topBar{
  background-color: white;
  margin-left: -3.3%;
}
