.bg-primary{
  background-color: #0070ad !important;
}
.main-nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100%;
}

#navbarNav{
  width: 105%;
}

.main-nav li a {
  cursor: pointer;
  padding: 10px 16px;
  color:white;
  border-left : 3px solid transparent;
  height: inherit;
  line-height: 250%;
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: Bold;
}
.main-nav .navbar-brand{
  width: 72%;
  height: 18%;
  margin: 20px 0 38px 28px;
}

.main-nav li .fa {
  margin-right: 10px;
}

.main-nav li.link-active a,
.main-nav li.link-active a:hover,
.main-nav li.link-active a:focus
{
  border-left: 3px solid #ff304c;
  background-color: #00639A;
  color: white;
}

.main-nav li.nav-item:hover,
.main-nav li.nav-item:focus {
  background-color: #00639A;
  color: white;
}
@media (max-width: 1445px) {
  .main-nav li a {
    line-height: 155%;
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .main-nav {
    height: auto;
  }
}

@media (min-width: 768px) {
  .main-nav {
    width: calc(25% - 19px);
    min-width: 180px;
  }

  .main-nav .navbar {
    height: 100%;
    vertical-align: top;
    background-color: #0070ad;
  }

  .main-nav .navbar ul {
    width: inherit;
    float: none;
    margin-left: -7px;
    margin-right: 7px;
  }
  
  .main-nav .navbar li {
    float: none;
    font-size: 15px;
    margin: 6px;
    height: 67px;
    width: -webkit-fill-available;
  }

  .main-nav .navbar li a {
    padding: 10px 16px;
  }

  .main-nav .navbar-header {
    float: none;
  }

}
/*
.main-nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100%;
}

.main-nav li a {
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 4px;
}
.main-nav li .fa {
  margin-right: 10px;
}
.main-nav li.link-active a,
.main-nav li.link-active a:hover,
.main-nav li.link-active a:focus {
  background-color: #4189C7;
  color: white;
}
@media (min-width: 768px) {
  .main-nav {
    width: calc(25% - 30px);
    min-width: 180px;
  }
  .main-nav .navbar {
    border-radius: 0 15px 15px 0;
    border-width: 0px;
    height: 100%;
    vertical-align: top;
  }
  .main-nav .navbar a {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .main-nav .navbar ul {
    float: none;
  }
  .main-nav .navbar li {
    float: none;
    font-size: 15px;
    margin: 6px;
  }
  .main-nav .navbar li a {
    padding: 10px 16px;
    border-radius: 4px;
  }
  .main-nav .navbar-header {
    float: none;
  }
}*/
