div.format {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

body
{
  background: #4a4a4c !important;
}

.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before { 
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 2em;
  font-family: FontAwesome;
  display: inline-block; 
}

.starrating > label
{
  color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */

div.format {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.margin-left {
    margin-left: 40px;
}

.profilContent {
    font-family: ubuntu;
    font-weight: 600;
    font-size: 18px;
    color: #0070AD;
    display: inline-block;
    padding-bottom: 11px;
    position: relative;
    margin-bottom: 28px;
}
.profilContent:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    bottom: 0;
    border-bottom: 3px solid red;
}


.colonneContent {
    font-family: ubuntu;
    font-weight: 600;
    font-size: 20px;
    color: #0070AD;
    display: inline-block;
    padding-bottom: 11px;
    position: relative;
    margin-bottom: 28px;
}

.colonneContent:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    bottom: 0;
    border-bottom: 3px solid red;
}


.lienContent {
    font-family: ubuntu;
    font-weight: 600;
    font-size: 20px;
    color: #0070AD;
    display: inline-block;
    padding-bottom: 11px;
    position: relative;
    margin-bottom: 28px;
}

.lienContent:before {
        content: "";
        position: absolute;
        width: 40px;
        height: 1px;
        bottom: 0;
        border-bottom: 3px solid red;
}

.contenuContent {
    font-family: ubuntu;
    font-weight: 500;
    font-size: 20px;
    color: #5A5A5A;
    display: inline-block;
    padding-bottom: 11px;
    position: relative;
    margin-bottom: 28px;
}

.expContent {
    font-family: ubuntu;
    font-weight: 700;
    font-size: 36px;
    color: #5A5A5A;
    display: inline-block;
    padding-bottom: 11px;
    position: relative;
    margin-bottom: 28px;
}

.techContent {
    font-family: ubuntu;
    font-weight: 300;
    font-size: 60px;
    color: #5A5A5A;
    display: inline-block;
    padding-bottom: 11px;
    position: relative;
    margin-bottom: 28px;
}

.slackContent {
    font-family: ubuntu;
    font-weight: normal;
    font-size: 17px;
    color: #555555;
    display: inline-block;
    padding-bottom: 11px;
    position: relative;
    margin-bottom: 28px;
}

.temoContent {
    font-family: ubuntu;
    font-weight: 700;
    font-size: 18px;
    color: #555555;
    display: inline-block;
    padding-bottom: 11px;
    position: relative;
    margin-bottom: 28px;
}

.temoposteContent {
    font-family: ubuntu;
    font-weight: normal;
    font-size: 14px;
    color: #555555;
    display: inline-block;
    padding-bottom: 11px;
    position: relative;
    margin-bottom: 28px;
}

