
<mat-toolbar> Contact </mat-toolbar>
<br />
<br />
<br />
<form>
    Nous Contacter
    <br />
    <br />
    <br />

    <div class="form-row">
        <div class="row">
            <strong> Nom Prénom</strong>
            <br />
            <input mdbInput type="text" class="form-control" placeholder="Eg:Jaison Justus">
            <br />
            <br />

            <strong> Objet</strong>
            <br />
            <input mdbInput type="text" class="form-control" placeholder="Eg:Interface Designer">
            <br />
            <br />

            <strong> Votre message </strong>
            <br />
            <textarea type="text" id="form75" class="form-control md-textarea" rows="3" mdbInput></textarea>
            <label for="form75"></label>

        </div>



    </div>
</form>