

<br />
<br />
<br />

    <h4 style="color:DodgerBlue">
        Contact
    </h4>
    <br />
   
    <h6 style="color:DodgerBlue"> Vous avez une question ? contactez-nous ! </h6>
    <br />
    <br />
    <br />

    <mat-card>
        <mat-card-content>

            
            <div class="row">
                <strong> Nom Pr&eacute;nom</strong>
                <br />
                <input mdbInput type="text" class="form-control" placeholder="Eg:Jaison Justus">
                <br />
                <br />
                <br />


                <strong> Objet</strong>
                <br />
                <input mdbInput type="text" class="form-control" placeholder="Eg:Interface Designer">
                <br />
                <br />
                <br />

                <strong> Votre message </strong>
                <br />
                <textarea type="text" id="form75" class="form-control md-textarea" rows="3" mdbInput></textarea>
                <label for="form75"></label>

                <br />
                <br />
                <br />
                
                    <button mdbBtn type="button" class="rounded float-right" color="danger" rounded="true" mdbWavesEffect>Envoyer</button>
                
            </div>

          
        </mat-card-content>
    </mat-card>